<div class="app-page-header">
  <h2>{{ ui.title$ | async }}</h2>
</div>

<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="onTabChange($event)">

  <!-- Progress by student -->
  <mat-tab>

    <ng-template mat-tab-label>
      By Student &nbsp; <mat-icon>school</mat-icon>
    </ng-template>

    <app-progress-by-student
      *ngIf="tabsLoaded[0]"
      [courseId]="courseId"
    ></app-progress-by-student>

  </mat-tab>

  <!-- Progress by task -->
  <mat-tab>

    <ng-template mat-tab-label>
      By Task &nbsp; <mat-icon>task_alt</mat-icon>
    </ng-template>

    <app-progress-by-task
      *ngIf="tabsLoaded[1]"
      [courseId]="courseId"
    ></app-progress-by-task>

  </mat-tab>

</mat-tab-group>
