$_: app-store('color', (

  // The current theme's palette
  'theme': (

    'background': white,

    'primary': (
      '50': #fff6da,
      '100': #fff0c1,
      '200': #ffe9a8,
      '300': #ffdd77,
      '400': #ffd145,
      '500': #ffc107,
      '600': #dfa700,
      '700': #b78a00,
      '800': #906c00,
      '900': #5c4500,
      contrast: (
        '50': rgba(black, 0.87),
        '100': rgba(black, 0.87),
        '200': rgba(black, 0.87),
        '300': rgba(black, 0.87),
        '400': rgba(black, 0.87),
        '500': rgba(black, 0.87),
        '600': rgba(black, 0.87),
        '700': white,
        '800': white,
        '900': white,
      ),
    ),

    'accent': (
      '50': #eceff1,
      '100': #cfd8dc,
      '200': #b0bec5,
      '300': #90a4ae,
      '400': #78909c,
      '500': #607d8b,
      '600': #546e7a,
      '700': #455a64,
      '800': #37474f,
      '900': #263238,
      contrast: (
        '50': rgba(black, 0.87),
        '100': rgba(black, 0.87),
        '200': rgba(black, 0.87),
        '300': rgba(black, 0.87),
        '400': rgba(black, 0.87),
        '500': white,
        '600': white,
        '700': white,
        '800': white,
        '900': white,
      ),
    ),

  ),

));
