@function app-3rdparty-material-theme-wario()
{
  @return (
    typography: app-3rdparty-material-theme-wario-typography(),
    colors: (
      default: 'light',
      light: app-3rdparty-material-theme-wario-light(),
      dark: app-3rdparty-material-theme-wario-dark(),
    ),
  );
}
