@import 'style';

.-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  height: app-store('size.height.navbar');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: app-store('color.primary');
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.15s transform ease-in-out;

  &.--sticky {
    transform: scaleY(1);
  }
}

.-sidebar-toggle {
  position: absolute;
  left: 1rem;
}

.-static-dummy {
  display: block;
  height: app-store('size.height.navbar');
}

.-brand h1 {
  margin: 0;
  font-size: 1.33rem;
  text-align: center;
  color: app-store('color.primary-mid-dark');
}
