@import 'style';

:host {
  display: block;
  background-color: rgba(0,0,0,0.05);
  font-size: 1.15em;
}

ol {
  display: flex;
  list-style: none;
  padding: 0;
  padding: 1rem;
  margin: 0;
}

li {
  margin: 0 0.25em;

  &::before {
    content: '/';
    color: app-store('color.theme.accent.500');
    margin: 0 0.5rem;
  }

  &.--first::before {
    display: none;
  }
}

a {
  color: app-store('color.theme.accent.700');
  text-decoration: none;
  position: relative;
  transition: 0.15s color ease-out;
}

.-back {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: -1px;
  cursor: pointer;
  transition: 0.15s color ease-out;

  &:hover {
    color: app-store('color.theme.primary.600');

    mat-icon {
      color: app-store('color.theme.primary.600');
    }
  }

  mat-icon {
    margin-right: 8px;
    color: app-store('color.theme.accent.500');
    transform: scale(0.95);
    transform-origin: top center;
    cursor: pointer;
    transition: 0.15s color ease-out;
  }
}

.--active {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  li {
    margin: 0 0.1em;

    &::before {
      margin: 0 0.25rem;
    }
  }
}
