<main class="app-container-narrow">

  <!-- Back -->
  <div class="app-mt4 app-mb3">
    <button mat-stroked-button (click)="onBackClick()">
      <mat-icon>arrow_back</mat-icon>
      Go back to the app
    </button>
  </div>

  <mat-card>

    <mat-card-content>

      <h1>Sign Out</h1>

      <p>Are you sure you want to sign out?</p>

      <!-- Sign out -->
      <button mat-flat-button color="primary" (click)="onSignOut()">
        Sign Out
      </button>
    </mat-card-content>

  </mat-card>
</main>
