<!-- TODO -->
<main class="app-container-focused">

  <!-- Back -->
  <button
    mat-button
    type="button"
    label="Back to the app"
    class="p-button-raised p-button-rounded p-button-text p-button-secondary -back"
    icon="pi pi-arrow-left"
    iconPos="left"
    (click)="onBackClick()"
  ></button>

  <!-- Sign Out -->
  <mat-card>
    <h2 style="margin-top: 0">Sign Out</h2>
    <p>Are you sure you want to sign out?</p>
    <button
      mat-flat-button
      (click)="onSignOut()"
    >
      Sign Out
    </button>
  </mat-card>

</main>
