<main class="app-container-focused">

  <!-- Back -->
  <button
    pButton
    pRipple
    type="button"
    label="Back to the app"
    class="p-button-raised p-button-rounded p-button-text p-button-secondary -back"
    icon="pi pi-arrow-left"
    iconPos="left"
    (click)="onBackClick()"
  ></button>

  <!-- Sign Out -->
  <p-card>
    <h2 style="margin-top: 0">Sign Out</h2>
    <p>Are you sure you want to sign out?</p>
    <p-button
      pRipple
      label="Sign Out"
      icon="pi pi-sign-out"
      iconPos="right"
      styleClass="p-button-rounded"
      (click)="onSignOut()"
    ></p-button>
  </p-card>

</main>
