<!-- TODO: Move -->
<app-navbar></app-navbar>

<div class="app-container">

  <h2>Courses</h2>

  <!-- Create new -->
  <section class="app-standout-section">
    <a
      routerLink="/courses/create"
      label="Create new course"
      pButton
      type="button"
      icon="pi pi-plus"
      iconPos="right"
      class="app-button-link"
    ></a>
  </section>

  <!-- Courses list -->
  <ng-container *ngIf="!isLoading; else loadingRef">
    <ng-container *ngIf="courses?.length; else noCoursesRef">

      <p-card
        *ngFor="let course of courses"
        [header]="course.name"
        [subheader]="teacherHint"
      >
        <p>{{ course.description }}</p>
        <ng-template pTemplate="footer">
          <a
            routerLink="/courses/{{ course?.course_id }}"
            label="Show"
            pButton
            type="button"
            icon="pi pi-arrow-right"
            iconPos="right"
            class="app-button-link"
          ></a>
        </ng-template>
      </p-card>

    </ng-container>
  </ng-container>
</div>

<ng-template #loadingRef>
  <p-skeleton height="192px" styleClass="skeleton-p-card"></p-skeleton>
  <div class="-skeleton-dots">
    <p-skeleton shape="circle" size="1rem"></p-skeleton>
    <p-skeleton shape="circle" size="1rem"></p-skeleton>
    <p-skeleton shape="circle" size="1rem"></p-skeleton>
  </div>
</ng-template>

<ng-template #noCoursesRef>
  No courses available
</ng-template>
