<div class="app-page-header">
  <h2>Courses</h2>
</div>

<!-- Courses list -->
<ng-container *ngIf="!isLoading; else loadingRef">
  <div
    *ngIf="courses?.length; else noCoursesRef"
    class="app-cols app-cols--gap"
  >
    <div
      *ngFor="let course of courses"
      class="app-col-12 app-col-s-6 app-col-m-4 app-my3"
    >
      <mat-card class="-card">

        <mat-card-content>

          <mat-card-title>
            <h2>{{ course.name }}</h2>
          </mat-card-title>
          <mat-card-subtitle>
            Created on: {{ course.created_on | date }},
            <br>
            Last modified: {{ course.updated_on | date }}
          </mat-card-subtitle>

          <p>
            {{ course.description }}
          </p>
        </mat-card-content>

        <mat-card-actions>

          <button mat-flat-button color="primary" (click)="onShowStudents()">
            See Students
          </button>

          <button
            class="-floating-menu-handle"
            mat-icon-button
            color="accent"
            [matMenuTriggerFor]="courseCardMenu"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #courseCardMenu="matMenu">
            <button
              mat-menu-item
              (click)="onMenuActionClicked(
                CoursesAction.EditTasks,
                course.course_id
              )"
            >
              Edit tasks
            </button>

            <button
              mat-menu-item
              (click)="onMenuActionClicked(
                CoursesAction.ShowEditCourseForm,
                course.course_id
              )"
            >
              Edit course
            </button>

            <button
              mat-menu-item
              (click)="onMenuActionClicked(
                CoursesAction.ShowDeleteCourse,
                course.course_id
              )"
            >
              Delete course
            </button>
          </mat-menu>

        </mat-card-actions>

      </mat-card>

    </div>
  </div>
</ng-container>

<ng-template #loadingRef>
  <div class="app-cols app-cols--gap">
    <div class="app-col-12 app-col-s-6 app-col-m-4 app-my3">
      <app-skeleton rounded height="13rem"></app-skeleton>
    </div>
    <div class="app-col-12 app-col-s-6 app-col-m-4 app-my3">
      <app-skeleton rounded height="13rem"></app-skeleton>
    </div>
    <div class="app-col-12 app-col-s-6 app-col-m-4 app-my3 -skeleton-dots">
      <app-skeleton circle="2rem"></app-skeleton>
      <app-skeleton circle="2rem"></app-skeleton>
      <app-skeleton circle="2rem"></app-skeleton>
    </div>
  </div>
</ng-template>

<ng-template #noCoursesRef>
  No courses available
</ng-template>
