<div class="app-page-header">
  <h2>Courses</h2>
</div>

<!-- Courses list -->
<ng-container *ngIf="!(ui.loading$ | async); else loadingRef">
  <div
    *ngIf="courses?.length; else noCoursesRef"
    class="app-cols app-cols--gap"
  >
    <div
      *ngFor="let course of courses"
      class="app-col-12 app-col-s-6 app-col-m-4 app-my3"
    >
      <!-- Material -->
      <mat-card class="-card">

        <mat-card-content>

          <mat-card-title>
            <h2>{{ course.name }}</h2>
          </mat-card-title>

          <mat-card-subtitle>
            Created on: {{ course.created_on | date }},
            <br>
            Last modified: {{ course.updated_on | date }}
          </mat-card-subtitle>

          <p>
            {{ course.description }}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <app-list-item-actions
            *ngIf="userInfo.roleId$ | async as userRole"
            [userRole]="userRole"
            (showStudents)="onShowStudents(course.course_id)"
            (showBoard)="onShowBoard(course.course_id)"
            (editTasks)="onEditTasks(course.course_id)"
            (editCourse)="onEditCourse(course.course_id)"
            (deleteCourse)="onDeleteCourse(course.course_id)"
            (leaveCourse)="onLeaveCourse(course.course_id)"
          ></app-list-item-actions>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
</ng-container>

<ng-template #loadingRef>
  <div class="app-cols app-cols--gap">
    <div class="app-col-12 app-col-s-6 app-col-m-4 app-my3">
      <app-skeleton rounded height="13rem"></app-skeleton>
    </div>
    <div class="app-col-12 app-col-s-6 app-col-m-4 app-my3">
      <app-skeleton rounded height="13rem"></app-skeleton>
    </div>
    <div class="app-col-12 app-col-s-6 app-col-m-4 app-my3">
      <app-skeleton-dots></app-skeleton-dots>
    </div>
  </div>
</ng-template>

<ng-template #noCoursesRef>
  No courses available, would you like to
  <a routerLink="create" class="app-link app-my3">create a new course</a>
  ?
</ng-template>
