@import 'style';

:host {
  width: 250px;
  max-width: 66vw;

  display: block;
  border-radius: 1rem;
  cursor: pointer;
}

.-name {
  margin-bottom: 0.25rem;
}

.-description {
  color: app-store('color.theme.accent.500');
}

mat-card {
  padding: 1rem !important;
}
