<main class="app-container-narrow">

  <div class="app-page-header">
    <app-back-button>Back</app-back-button>
    <h2>Create course</h2>
  </div>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="courseForm" (ngSubmit)="onCreateCourse()" class="-form">

        <!-- Name -->
        <mat-form-field appearance="fill" class="app-my2">
          <mat-label>Name*</mat-label>
          <input
            type="text"
            matInput
            [formControl]="name"
            placeholder="Course name..."
          >
          <mat-error *ngIf="name.invalid">
            Enter a course name with 3+ letters
          </mat-error>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="fill" class="app-my2">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            [formControl]="description"
            rows="5"
            placeholder="Course description..."
          ></textarea>
        </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions>

      <button
        mat-flat-button
        color="primary"
        [disabled]="isLoading"
        (click)="onCreateCourse()"
      >
        Create
        <mat-icon>add</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</main>
