<div class="app-title">
  <h2>
    <!-- Back -->
    <button
      pButton
      pRipple
      type="button"
      label="Back"
      class="p-button-raised p-button-rounded p-button-text p-button-secondary app-mr-2"
      icon="pi pi-arrow-left"
      iconPos="left"
      (click)="onBackClick()"
    ></button>
    Create course
  </h2>
</div>

<p-card>
  <form [formGroup]="courseForm" (ngSubmit)="onCreateCourse()">

    <!-- Name -->
    <div class="-form-field">
      <label>Name</label>
      <input
        formControlName="name"
        type="text"
        pInputText
        placeholder="Course name"
      >
    </div>

    <!-- Description -->
    <div class="-form-field">
      <label>Description</label>
      <textarea
        formControlName="description"
        rows="5"
        cols="30"
        pInputTextarea
        placeholder="Course description"
      ></textarea>
    </div>

    <!-- Save -->
    <p-button
      pRipple
      label="Create"
      type="submit"
      icon="{{ isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-plus' }}"
      [disabled]="isLoading"
      iconPos="right"
      styleClass="p-button-rounded"
    ></p-button>

  </form>
</p-card>
