@import 'style';

.-icon {
  background-color: app-store('color.theme.primary.500');
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: app-store('color.theme.accent.800');
}

.-label {
  font-weight: 600 !important;
  color: app-store('color.theme.accent.800');
}

.-content {
  color: app-store('color.theme.accent.600');
  font-size: 1.1rem !important;
}

app-skeleton {
  display: block;
}

.-skeleton-header {
  display: flex;
  flex-direction: column;
}

.-skeleton-name {
  display: flex;
}

.-skeleton-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  &-info {
    flex-grow: 1;
  }
}
