<div class="app-container-narrow" *ngIf="profile; else loadingRef">
  <mat-card>

    <mat-card-header>
      <mat-card-title>
        {{ profile.firstName }}
        {{ profile.lastName}}
      </mat-card-title>
      <mat-card-subtitle>{{ profile.role }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>

        <mat-list-item>
          <div class="-icon">
            <mat-icon>person</mat-icon>
          </div>
          <strong mat-line class="-label">Role</strong>
          <span mat-line class="-content">{{ profile.role }}</span>
        </mat-list-item>

        <mat-list-item>
          <div class="-icon">
            <mat-icon>email</mat-icon>
          </div>
          <strong mat-line class="-label">Email</strong>
          <span mat-line class="-content">{{ profile.email }}</span>
        </mat-list-item>

        <mat-list-item>
          <div class="-icon">
            <mat-icon>event</mat-icon>
          </div>
          <strong mat-line class="-label">Signed up on</strong>
          <span mat-line class="-content">{{ profile.createdOn | date }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card>
</div>

<ng-template #loadingRef>
  <div class="app-container-narrow">
    <mat-card>

      <mat-card-header class="-skeleton-header">
        <mat-card-title class="-skeleton-name">
          <app-skeleton height="2rem" width="4rem"></app-skeleton>
          <app-skeleton height="2rem" width="5rem"></app-skeleton>
        </mat-card-title>
        <mat-card-subtitle>
          <app-skeleton height="1rem" width="6rem"></app-skeleton>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of [1,2,3]" class="-skeleton-item">
            <div class="-skeleton-item-info">
              <app-skeleton height="1rem" width="6rem"></app-skeleton>
              <app-skeleton height="1rem" width="8rem"></app-skeleton>
            </div>
            <div>
              <app-skeleton circle="2rem"></app-skeleton>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>
  </div>
</ng-template>
