GARNET_APP_NAME='Garnet API'
GARNET_APP_SLUG='garnet'
GARNET_APP_VERSION=0.1.0
GARNET_APP_VERSION_SHORT=0.1
GARNET_APP_PORT=3001
GARNET_APP_ENV=development

GARNET_SECURITY_CORS_ORIGIN='*'
GARNET_SECURITY_CORS_METHODS='GET,HEAD,PUT,PATCH,POST,DELETE'
GARNET_SECURITY_CORS_MAX_AGE=7200
GARNET_SECURITY_CORS_HEADERS='Content-Type,Access-Control-Allow-Headers,Authorization,X-Requested-With'

GARNET_SECURITY_JWT_SECRET=
GARNET_SECURITY_JWT_ISSUER=http://localhost:8080
GARNET_SECURITY_JWT_EXPIRES_IN=7200

GARNET_DB_HOST=postgres
GARNET_DB_NAME=
GARNET_DB_USER=
GARNET_DB_PASSWORD=
GARNET_DB_PORT=5432
