# General
GARNET_APP_NAME='Garnet API'
GARNET_APP_VERSION=0.0.0
GARNET_APP_ENV=development
GARNET_APP_DEBUG=true

# Security
GARNET_SECUTIRY_CORS_ORIGIN='*'
GARNET_SECUTIRY_JWT_SECRET=
GARNET_SECUTIRY_JWT_ISSUER=

# Database
GARNET_DB_HOST=mariadb
GARNET_DB_NAME=garnet
GARNET_DB_USER=garnet
GARNET_DB_PASSWORD=garnet
GARNET_DB_PORT=3306