# General
GARNET_APP_NAME='Garnet API'
GARNET_APP_SLUG='garnet'
GARNET_APP_VERSION=0.0.0
GARNET_APP_ENV=development
GARNET_APP_DEBUG=true

# Security: CORS
GARNET_SECURITY_CORS_ORIGIN=
GARNET_SECURITY_CORS_METHODS=
GARNET_SECURITY_CORS_MAX_AGE=
GARNET_SECURITY_CORS_HEADERS=

# Security: JWT
GARNET_SECURITY_JWT_SECRET=
GARNET_SECURITY_JWT_ISSUER=
GARNET_SECURITY_JWT_EXPIRES_IN=

# Database
GARNET_DB_HOST=mariadb
GARNET_DB_NAME=garnet
GARNET_DB_USER=garnet
GARNET_DB_PASSWORD=garnet
GARNET_DB_PORT=3306
