<app-navbar
  [title]="appName"
></app-navbar>

<app-breadcrumbs
  [items]="(ui.breadcrumbs$ | async) || []"
></app-breadcrumbs>

<main #routerOutletRef class="app-container --viewport-height">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="((ui.fab$ | async) || null) as fab">
  <app-fab
    [icon]="fab?.icon"
    (click)="ui.clickFab(fab.actionName)"
  ></app-fab>
</ng-container>

<mat-progress-bar
  *ngIf="!!(ui.loading$ | async)"
  mode="indeterminate"
  color="accent"
  class="app-override-progress-bar -progress-bar"
></mat-progress-bar>

<app-sidebar
  [open]="!!(ui.isSidebarOpen$ | async)"
  (dismissed)="ui.isSidebarOpen = false"
></app-sidebar>
