<app-navbar
  [title]="appName"
></app-navbar>

<app-breadcrumbs
  [items]="uiBreadcrumbs"
  class="app-mb3"
></app-breadcrumbs>

<main #routerOutletRef class="app-container --viewport-height">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="uiFab">
  <app-fab
    [icon]="uiFab?.icon"
    (click)="onFabClicked()"
  ></app-fab>
</ng-container>

<mat-progress-bar
  *ngIf="uiLoading"
  mode="indeterminate"
  color="accent"
  class="app-override-progress-bar -progress-bar"
></mat-progress-bar>

<app-sidebar
  [open]="uiIsSidebarOpen"
  (dismissed)="onDismissSidebar()"
></app-sidebar>
