/**
 * To be used on <a pButton> components
 */
@mixin app-component-button-link()
{
  .app-button-link {
    text-decoration: none;
    transition: 0.15s all ease-out;

    &:hover {
      background-color: scale_color(app-store('color.primary'), $lightness: -10%);
    }
  }
}
