@mixin app-component-link()
{
  .app-link {
    color: app-store('color.theme.primary.700');
    text-decoration: none;
    position: relative;
    transition: 0.15s color ease-out;
    letter-spacing: 0.05px;

    &::after {
      content: '';
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.15s width ease-out;
      width: 50%;
      min-width: 1.5rem;
      border-bottom: 3px solid app-store('color.theme.primary.700');
    }

    &:hover {
      color: app-store('color.theme.primary.600');
    }
  }

  .app-link:hover {
    color: app-store('color.theme.primary.600');

    &::after {
      width: 100%;
    }
  }

  .app-link::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.15s width ease-out;
    width: 50%;
    min-width: 1.5rem;
    border-bottom: 2px solid app-store('color.theme.primary.600');
  }
}
