
@mixin app-component-title()
{
  .app-title {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    margin-bottom: 2rem;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin: 0;
    }
  }
}
