<div class="app-page-header">
  <h2>_COURSE_NAME_ - Board</h2>
</div>

<div class="-board-columns">

  <!-- To Do -->
  <div class="-board-column --first">
    <h2 class="-board-column-title">
      To Do
      <span class="-title-counter">
        ({{ boardState[TaskState.ToDo].length }})
      </span>
    </h2>
    <div
      id="todo-list"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="boardState[TaskState.ToDo]"
      [cdkDropListConnectedTo]="['done-list', 'in-progress-list']"
      (cdkDropListDropped)="onDropTask($event)"
      class="-board-column-tasks"
    >

      <mat-card class="-no-tasks">
        <mat-card-content>
          No tasks
        </mat-card-content>
      </mat-card>

      <app-task
        *ngFor="let task of boardState[TaskState.ToDo]"
        [task]="task"
        cdkDrag
      ></app-task>

    </div>
  </div>

  <!-- In progress -->
  <div class="-board-column">
    <h2 class="-board-column-title">
      In progress
      <span class="-title-counter">
        ({{ boardState[TaskState.InProgress].length }})
      </span>
    </h2>
    <div
      id="in-progress-list"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="boardState[TaskState.InProgress]"
      [cdkDropListConnectedTo]="['todo-list', 'done-list']"
      (cdkDropListDropped)="onDropTask($event)"
      class="-board-column-tasks"
    >
      <mat-card class="-no-tasks">
        <mat-card-content>
          No tasks
        </mat-card-content>
      </mat-card>

      <app-task
        *ngFor="let task of boardState[TaskState.InProgress]"
        [task]="task"
        cdkDrag
      ></app-task>

    </div>
  </div>

  <!-- Done -->
  <div class="-board-column --last">
    <h2 class="-board-column-title">
      Done
      <span class="-title-counter">
        ({{ boardState[TaskState.Done].length }})
      </span>
    </h2>
    <div
      id="done-list"
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="boardState[TaskState.Done]"
      [cdkDropListConnectedTo]="['todo-list', 'in-progress-list']"
      (cdkDropListDropped)="onDropTask($event)"
      class="-board-column-tasks"
    >
      <mat-card class="-no-tasks">
        <mat-card-content>
          No tasks
        </mat-card-content>
      </mat-card>

      <app-task
        *ngFor="let task of boardState[TaskState.Done]"
        [task]="task"
        cdkDrag
      ></app-task>

    </div>
  </div>
</div>
