<div class="app-page-header">
  <h2>_COURSE_NAME_ - Board</h2>
</div>

<div class="-board-columns">

  <!-- To Do -->
  <div class="-board-column">
    <h2>To Do</h2>
    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="boardState[TaskState.ToDo]"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      (cdkDropListDropped)="onDropTask($event)"
      class="-column-tasks"
    >
      <ng-container
        [ngTemplateOutletContext]="{ tasks: boardState[TaskState.ToDo] }"
        [ngTemplateOutlet]="boardState[TaskState.ToDo].length
          ? tasksRef
          : noTasksRef"
      ></ng-container>
    </mat-card>
  </div>

  <!-- In progress -->
  <div class="-board-column">
    <h2>In progress</h2>
    <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="boardState[TaskState.InProgress]"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="onDropTask($event)"
      class="-column-tasks"
    >
      <ng-container
        [ngTemplateOutletContext]="{ tasks: boardState[TaskState.InProgress] }"
        [ngTemplateOutlet]="boardState[TaskState.InProgress].length
          ? tasksRef
          : noTasksRef"
      ></ng-container>
    </mat-card>
  </div>

  <!-- Done -->
  <div class="-board-column">
    <h2>Done</h2>
    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="boardState[TaskState.Done]"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      (cdkDropListDropped)="onDropTask($event)"
      class="-column-tasks"
    >
      <ng-container
        [ngTemplateOutletContext]="{ tasks: boardState[TaskState.Done] }"
        [ngTemplateOutlet]="boardState[TaskState.Done].length
          ? tasksRef
          : noTasksRef"
      ></ng-container>
    </mat-card>
  </div>
</div>

<!-- Template: tasks -->
<ng-template #tasksRef let-tasks="tasks">
  <app-task *ngFor="let task of tasks" [task]="task" cdkDrag></app-task>
</ng-template>

<!-- Template: no tasks -->
<ng-template #noTasksRef>
  <p class="-empty-label">No tasks</p>
</ng-template>
