@import 'style';

$column-width: 400px;

.-board-columns {
  display: flex;
  justify-content: space-around;
}

.-board-column {
  width: $column-width;
  border-left: 1px solid app-store('color.theme.accent.200');
  border-right: 1px solid app-store('color.theme.accent.200');
  padding: 1.5rem;

  &.--first { border-left: 0 }
  &.--last { border-right: 0 }
}

.-column-tasks {
  min-height: 60px;

  > * {
    margin: 1rem 0;
  }
}

.-task {
  margin-bottom: 30px;
}

.-empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

// TODO: Angular Material override --------------------------------------------
.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
