/* You can add global styles to this file, and also import other style files */

@import 'global';

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --garnet-size-navbar: 57px;
  --garnet-color-background: #efefef;
  --garnet-zindex-navbar: 2;
}

body {
  margin: 0;
  background-color: var(--garnet-color-background);
  font-family: var(--font-family);
  color: var(--text-color);
}

// TODO: Move from here
.skeleton-p-card {
  margin: 1rem 0;
  width: auto !important;
}
