/* You can add global styles to this file, and also import other style files */

@import 'global';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--surface-a);
  font-family: var(--font-family);
  color: var(--text-color);
}

// TODO: Move from here
.-course-card {
  margin: 1rem;
}

// TODO: Move from here
.-skeleton-course-card {
  margin: 1rem;
  width: auto !important;
}