@import 'style';

:host {

  // This is needed to override the default Material style for snackbar
  position: absolute;
  inset: 0;
  transform: 0.15s all ease-out;

  border-radius: 0.5rem;
  padding: 0.33rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;

  &.--type-success {
    background-color: app-store('color.theme.success');
    color: black;
  }

  &.--type-error {
    background-color: app-store('color.theme.error');
    color: white;
  }
}

.-dismiss {
  border: none;
  background-color: transparent;
  border-radius: 0.33rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s background-color ease-out;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
}
