<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Garnet App</mat-card-title>
      <mat-card-subtitle>Sign In</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <!-- Email -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Enter your email..."
          formControlName="email"
        >
        <mat-icon matSuffix aria-hidden="true">person</mat-icon>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        >
        <mat-icon matSuffix aria-hidden="true">password</mat-icon>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button
        mat-flat-button
        color="primary"
        [disabled]="isLoading"
        type="submit"
      >
        Sign In
      </button>
    </mat-card-actions>

  </mat-card>
</form>
