@import 'style';

:host {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;
}

::ng-deep .-sign-in-card {
  padding: 1rem;

  .p-card-content {
    padding-top: 0;
  }
}

.-form {
  display: flex;
  flex-direction: column;

  > * {
    margin: 0.66rem 0;
  }
}
