// Global resets
@include app-reset-root();

// 3rd-party custom theme
$theme-config: app-3rdparty-material-theme-grossular();

@include app-3rdparty-material-theme($theme-config);

// 3rd-party overrides
@include app-3rdparty-material-override-card();
@include app-3rdparty-material-override-snackbar();
// ...

// Components
@include app-component-container();
@include app-component-link();
@include app-component-page-header();
// ...

// Layout
$prefix: 'app-';
$layout-grid-config: app-store('layout.grid');
$layout-spacing-config: app-store('layout.spacing');
@include app-layout-grid($prefix, $layout-grid-config);
@include app-layout-spacing($prefix, $layout-spacing-config);
