@mixin app-reset-root()
{
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    background: linear-gradient(0, rgba(213,223,228,1) 0%, rgba(239,239,239,1) 100%);
    font-family: Roboto, 'Helvetica Neue'\, Arial, sans-serif;
  }
}
